<%= form_for(@cocktail) do |f| %>
  <div class="form-group">
    <%= f.label :name, style: "color: white" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
