<p><%= @cocktail.name %></p>
<%= link_to 'Back to cocktails list', cocktails_path, class: "btn btn-primary" %>
<%= link_to 'Add new dose', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>